@import url(https://fonts.googleapis.com/css?family=Poppins&display=swap);

body {
  font-family: Poppins, serif;
  background: radial-gradient(#000 0%, #fff 100%);
}
p {
  color: white;
}
.nav-link {
  color: white;
  font-weight: bold;
}

.navbar-nav .nav-link.active {
  color: red;
}
.navbar-brand img {
  width: 40px;
}
.navbar-toggler {
  background-color: white;
}

.card {
  box-shadow: 5px 5px 10px 1px #000000;
  background: linear-gradient(90deg, #848484 0%, #fff 100%);
}
.sidebar {
  color: black;
  background: linear-gradient(90deg, #848484 0%, #fff 100%);
}
.card a {
  text-decoration: none;
  color: black;
}

.slide-text,
.footer-text {
  color: white;
  margin: auto auto;
}
footer,
.btn-outline-primary {
  background: linear-gradient(90deg, #000000 0%, #fff 100%);
color: white;
font-weight: normal;
}

.call-anim {
  animation: myAnim 2s ease 0s infinite normal forwards;
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}


.media-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 755px) {
  .carousel-indicators {
    display: none;
  }
}

